@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;

  @include screen-small {
    padding: 0 18px;
  }

  &--fluid {
    max-width: 100%;
    padding: 0 32px;

    @include screen-small {
      padding: 0 18px;
    }
  }
}
