.ads [class$="__actions"][data-v-30a47867] {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
}
.ads [class$="__name"][data-v-30a47867] {
  align-items: center;
  display: flex;
  gap: 0.25rem;
}
