@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../base/container";

.auth {
  display: flex;
  overflow: hidden;
  min-height: 100vh;

  @include screen-large {
    flex-direction: column-reverse;
    min-height: auto;
  }

  &__introduce,
  &__form {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    @include screen-large {
      min-height: auto;
    }
  }

  &__introduce {
    padding: 20px;
    width: 45%;

    @include screen-large {
      width: auto;
    }

    &__bg {
      background-color: $charcoal;
      background-image: url("/images/bg-auth-login.png");
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      height: 100%;
      border-radius: 4px;
      align-items: center;

      @include screen-large {
        align-items: unset;
      }
    }
  }

  &__form {
    overflow-x: scroll;
    padding: 25px;
    width: 100%;

    @include screen-large {
      overflow-x: visible;
    }

    &__inner {
      width: 100%;
      max-width: 459px;
      padding: 50px 0;

      @include screen-large {
        padding: 0;
      }
    }

    &__back {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      color: $charcoal;
      font-size: 14px;

      img {
        width: 17px;
        height: 17px;
        margin-right: 10px;
      }
    }

    &__title {
      margin-bottom: 40px;
    }

    &__fields {
      margin-bottom: 20px;
    }

    &__separator {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 1.3;
      color: $charcoal;
      margin-bottom: 20px;

      &::before {
        content: "";
        width: 43%;
        height: 1px;
        background: $gainsboro;
        position: absolute;
        left: 0;
        margin-top: 3px;
      }

      &::after {
        content: "";
        width: 43%;
        height: 1px;
        background: $gainsboro;
        position: absolute;
        right: 0;
        margin-top: 3px;
      }
    }

    &__social {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    &__help {
      margin-top: 30px;

      p {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 1.3;
        letter-spacing: 0.25px;
        color: $charcoal;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      a {
        color: $dodger_blue;
        text-decoration: underline;
      }
    }
  }
}
