@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../base/container";

.category {
  &--archive {
    &__title {
      text-align: center;
      margin-bottom: 50px;
      justify-content: center;
      font-weight: normal;
      font-size: 15px;
    }

    &__list {
      display: flex;
      padding: 0;
      margin: 0;
      list-style: none;

      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 30px;
      width: 100%;

      @include screen-medium {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
      }

      @include screen-small {
        grid-template-columns: 1fr 1fr;
        gap: 15px;
      }
    }
  }
}
