@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../base/container";

.faq {
  &--default {
    &__container {
      @extend .container;

      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    &__title {
      display: flex;
      flex-direction: row;
      justify-content: center;

      &--left {
        justify-content: flex-start;
      }
    }

    &__paragraph {
      margin: auto;
      max-width: 700px;
      text-align: center;

      &--left {
        max-width: 100%;
        text-align: left;
      }
    }

    &__accordion {
      display: flex;
      justify-content: center;
      flex-direction: row;

      a {
        color: $dodger_blue;
        text-decoration: underline;
      }

      &__wrapper {
        width: 100%;
        max-width: 970px;
      }
    }

    &__button {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
