@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../base/container";

.link {
  &--login {
    &--desktop {
      display: inline-flex;
    }

    &--mobile {
      display: none;
    }
  }
}
