@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../base/container";

.menu {
  &--default {
    padding: 0;
    list-style: none;
    display: none;
    margin: 0;
    display: flex;

    @include screen-large {
      display: none;
    }

    li {
      margin-right: 20px;

      a {
        display: block;

        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        letter-spacing: 0.5px;
        color: $white_smoke;
      }
    }
  }

  &--footer {
    padding: 0;
    list-style: none;
    display: flex;
    margin: 0;

    @include screen-small {
      flex-direction: column;
    }

    li {
      margin: 0 15px;

      @include screen-small {
        margin: 0;
        margin-bottom: 10px;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;

        @include screen-small {
          margin-bottom: 0;
        }
      }

      a {
        display: block;

        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        letter-spacing: 0.5px;
        color: $white_smoke;
        text-align: center;
      }
    }
  }

  &--auth {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;

    li {
      margin-left: 15px;
    }
  }

  &--user {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    position: relative;

    &__button {
      appearance: none;
      border: 0;
      background: $white_smoke;
      border: 1px solid white;
      box-shadow: 0 0 20px rgba($charcoal, 0.1);
      border-radius: 4px;
      border-bottom: 1 solid white;
      padding: 7px 10px;
      margin-right: 0px;
      min-width: 220px;
      position: relative;
      z-index: 2;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &.is-open {
        border-radius: 4px 4px 0 0;
        border-bottom: 1px solid $gainsboro;
      }

      &__avatar {
        max-width: 30px;
        margin-right: 10px;
      }

      &__greetings {
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 1;
        color: $charcoal;
        text-align: left;

        &__name {
          font-weight: 600;
          font-size: 14px;
          line-height: 1.3;
          color: $charcoal;
          width: 130px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      &__icon {
        width: 20px;
        height: 20px;
        margin-left: 10px;
      }
    }

    &__menu {
      position: absolute;
      width: 100%;
      top: 40px;
      border-radius: 0 0 4px 4px;
      overflow: hidden;
      box-shadow: 0 0 20px rgba($charcoal, 0.1);
      z-index: 1;
      display: none;

      &.is-open {
        display: block;
      }

      &__links {
        background-color: white;
        padding: 0;
        margin: 0;
        list-style: none;
        border-bottom: 1px solid $gainsboro;
        padding: 10px 20px;

        li {
          a,
          button {
            color: $charcoal;
            font-size: 14px;
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            appearance: none;
            border: 0;
            background-color: transparent;
            font-size: 14px;
            padding: 5px 0;

            b {
              background-color: black;
              color: $light_peach;
              padding: 4px 6px;
              border-radius: 4px;
              font-size: 10px;
              line-height: 1;
              letter-spacing: 0.25px;
              font-weight: normal;
            }

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  &--about {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    z-index: 1;

    &__item {
      display: flex;
      align-items: center;
      transition: all 0.2s ease-in-out;

      a {
        cursor: pointer;

        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.25px;
        color: $charcoal;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 12px 0;

        svg {
          @include screen-large {
            display: none;
          }
        }

        b {
          background-color: black;
          color: $light_peach;
          padding: 4px 6px;
          border-radius: 4px;
          font-size: 10px;
          line-height: 1;
          letter-spacing: 0.25px;
          font-weight: normal;
        }

        &:hover,
        &.router-link-active {
          span {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
