@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../base/container";

.paragraph {
  color: rgba($charcoal, 0.6);
  font-size: 16px;
  line-height: 1.7;

  h2,
  h3 {
    font-weight: bold;
  }

  p,
  h2,
  h3 {
    margin-bottom: 20px;
  }

  p:last-child {
    margin-bottom: 0;
  }
}
