@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../base/container";

.payment {
  &--method {
    &__list {
      list-style: none;
      padding: 0;
    }

    &__item {
      // padding: 20px;
      border: 2px solid $gainsboro;
      border-radius: 4px;
      margin-bottom: 16px;
      transition: 0.3s;
      position: relative;

      span {
        font-family: Poppins;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        background-color: $light_peach;
        padding: 3px 7px;
        color: $charcoal;
        position: absolute;
        top: -12px;
        left: 10px;
        border-radius: 4px;
        font-weight: 600;
        display: none;
        transition: 0.3s;
        opacity: 0;
      }

      label {
        margin-bottom: 0;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        padding: 20px;

        @include screen-medium {
          flex-direction: column;
        }

        p {
          margin-bottom: 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 16px;

          @include screen-medium {
            font-size: 14px;
          }

          &:last-child {
            @include screen-medium {
              justify-content: flex-end;
            }
          }

          input {
            appearance: none;
            background: $white_smoke;
            border: 2px solid $platinum;
            margin-right: 10px;
            width: 20px;
            height: 20px;
            border-radius: 100%;
            transition: 0.3s;
            background-repeat: no-repeat;
            background-position: center;

            &:checked {
              border-color: $charcoal;
              background-color: $light_peach;
              background-image: url("/images/icon-check.svg");
            }
          }

          strong {
            font-weight: 700;
            margin-left: 10px;

            @include screen-medium {
              font-weight: 600;
            }
          }
        }
      }

      &--active {
        border-color: $charcoal;

        span {
          display: inline-flex;
        }
      }

      &:hover {
        span {
          display: inline-flex;
          opacity: 1;
        }
      }
    }
  }

  &--featured,
  &--invoice {
    padding: 20px;
    border: 2px solid $gainsboro;
    border-radius: 4px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    &__title {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 1;
      letter-spacing: 0.25px;
      color: $charcoal;
      // margin-bottom: 15px;
    }

    &__description,
    &__details {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 1;
      letter-spacing: 0.25px;
      color: $charcoal;
      line-height: 1.7;

      a {
        text-decoration: underline;
        color: $charcoal;
        font-weight: bold;
      }
    }

    &__options {
      display: flex;

      @include screen-small {
        flex-direction: column;
      }

      &__item {
        display: flex;
        align-items: center;
        margin-right: 20px;
        cursor: pointer;

        @include screen-small {
          margin-right: 0;
          margin-bottom: 20px;

          &:last-child {
            margin-bottom: 0;
          }
        }

        input {
          appearance: none;
          background: $white_smoke;
          border: 2px solid $platinum;
          margin-right: 10px;
          width: 20px;
          height: 20px;
          border-radius: 100%;
          background-repeat: no-repeat;
          background-position: center;
          cursor: pointer;

          &:checked {
            border-color: $charcoal;
            background-color: $light_peach;
            background-image: url("/images/icon-check.svg");
          }
        }

        &--disabled {
          cursor: not-allowed;
          opacity: 0.5;

          input {
            cursor: not-allowed;
          }
        }
      }
    }
  }
}
