@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../base/container";

.profile {
  &--default {
    width: 100%;
    // padding-top: -130px;

    &__container {
      @extend .container;
      display: flex;
      gap: 30px;

      @include screen-large {
        max-width: unset;
        flex-direction: column;
      }
    }

    &__sidebar {
      max-width: 350px;
      margin-top: -130px;

      @include screen-large {
        max-width: unset;
        margin: 0;
        margin-bottom: 30px;
      }
    }

    &__content {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 30px;

      &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;

        .announcement--showcase {
          padding: 0;
        }
      }
    }
  }
}
