@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../base/container";

.reminder {
  &--default {
    // border: 1px solid $gainsboro;
    width: 100%;
    background: $ghost_white;
    padding: 20px;

    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-align: center;
    color: $charcoal;

    img {
      margin-top: 1px;
      margin-right: 10px;
    }

    a,
    button {
      appearance: none;
      border: none;
      background-color: transparent;
      font-size: inherit;
      font-weight: 600;
      text-decoration: underline;
      color: $dodger_blue;
      text-decoration: underline;
      padding: 0;
    }

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 1.3;
      letter-spacing: 0.5px;
      color: $charcoal;
      margin: 0px;

      b {
        font-weight: 600;
      }
    }
  }
}
