@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../base/container";

section {
  position: relative;
  padding: 50px 0;

  @include screen-small {
    padding: 30px 0;
  }

  // &.is-separator {
  //   border-bottom: 1px solid $gainsboro;
  //   &:after {
  //     display: block;
  //     content: '';
  //     width: 100%;
  //     max-width: 940px;
  //     height: 1px;
  //     background-color: $gainsboro;
  //     position: absolute;
  //     bottom: 0;
  //     left: 0;
  //     right: 0;
  //     margin: auto;
  //   }
  // }
}
