@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../base/container";

.sidebar {
  &--profile {
    border: 1px solid $gainsboro;
    border-radius: 4px;
    background: white;
    padding: 30px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.25px;
    color: $charcoal;
    position: relative;
    transition: 0.3s;

    &:hover {
      box-shadow: 0 0 30px rgba($charcoal, 0.1);
    }

    &__wrapper {
      display: flex;
      flex-direction: column;

      @include screen-large {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }

      @include screen-medium {
        flex-direction: column;
      }
    }

    &__user {
      margin-bottom: 40px;

      @include screen-large {
        margin-bottom: unset;
        margin-right: 40px;
      }

      @include screen-medium {
        margin-right: unset;
        margin-bottom: 30px;
      }
    }

    &__info {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;

      @include screen-large {
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
      }

      @include screen-small {
        grid-template-columns: 1fr;
        grid-gap: 20px;
      }
    }

    &__avatar {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
    }

    &__type {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;

      span {
        color: $light_peach;
        background: $charcoal;
        border-radius: 4px;
        padding: 5px 10px;
      }
    }

    &__name {
      display: flex;
      justify-content: center;
      font-weight: bold;
      font-size: 24px;
      letter-spacing: 0.25px;
      margin-bottom: 10px;
      text-align: center;
      line-height: 1.3;
    }

    &__announcements {
      display: flex;
      justify-content: center;
      text-decoration-line: underline;
    }
  }

  &--account {
    width: 100%;

    &__menu {
      padding: 0;
      margin: 0;
      list-style: none;
      border-top: 2px solid $gainsboro;
      padding-top: 0px;
      padding-bottom: 0px;
      border-top: none;

      &__item {
        display: flex;
        align-items: center;
        transition: all 0.2s ease-in-out;

        a {
          cursor: pointer;

          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.25px;
          color: $charcoal;
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 12px 0;

          svg {
            @include screen-large {
              display: none;
            }
          }

          b {
            background-color: black;
            color: $light_peach;
            padding: 4px 6px;
            border-radius: 4px;
            font-size: 10px;
            line-height: 1;
            letter-spacing: 0.25px;
            font-weight: normal;
          }

          &:hover,
          &.router-link-active {
            span {
              text-decoration: underline;
            }
          }
        }
      }
    }

    &__info {
      border-bottom: 2px solid $gainsboro;
      margin-bottom: 20px;
      padding-bottom: 10px;
      display: block;

      @include screen-large {
        display: none;
      }
    }

    &__avatar {
      margin-bottom: 20px;
    }

    &__name {
      font-weight: bold;
      font-size: 14px;
      line-height: 1;
      letter-spacing: 0.25px;
      color: $charcoal;
      flex: none;
      margin-bottom: 5px;
    }

    &__email {
      font-size: 14px;
      line-height: 1.3;
      letter-spacing: 0.25px;
      color: $charcoal;
      margin-bottom: 5px;
    }

    &__profile {
      font-weight: 600;
      font-size: 14px;
      line-height: 1.3;
      letter-spacing: 0.25px;
      text-decoration-line: underline;
      color: $dodger_blue;
      display: flex;
      transition: 0.3s;
    }

    &__location {
      font-size: 14px;
      line-height: 1.3;
      letter-spacing: 0.25px;
      color: $charcoal;
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 25px;
      margin-bottom: 5px;

      svg {
        min-width: 20px;
        // height: 16px;
      }
    }

    &__showcase {
      margin-bottom: 15px;

      a {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.3;
        letter-spacing: 0.25px;
        text-decoration-line: underline;
        color: $charcoal;
      }
    }

    &__link {
      margin-bottom: 15px;

      a {
        border: 1px solid $charcoal;
        border-radius: 4px;
        padding: 5px 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: max-content;
        font-weight: 600;
        font-size: 12px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.5px;
        color: $charcoal;

        &:hover {
          background-color: $light_peach;
        }
      }
    }
  }
}
