@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../base/container";

.sitemap {
  &--default {
    &__container {
      @extend .container;

      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 30px;

      &__block {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &__list {
          padding: 0;
          margin: 0;
          list-style: none;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 5px;

          li {
            a {
              display: flex;
              align-items: center;
              gap: 10px;
              color: $charcoal;

              &:hover {
                color: $dodger_blue;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}
