@use "../abstracts/variables" as *;

.v-popper__popper.v-popper--theme-tooltip {
  .v-popper__inner {
    background-color: $light_peach !important;
    color: $eerie_black !important;
    border-radius: 4px !important;
    padding: 8px 12px !important;
    font-size: 14px !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
  }

  .v-popper__arrow-inner {
    border-color: $light_peach !important;
  }

  .v-popper__arrow-outer {
    border-color: $light_peach !important;
  }
}
