@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.container {
  width: 100%;
  max-width: 1300px;
  margin: auto;
  padding: 0 15px;

  &--fluid {
    max-width: 100%;
    padding: 0 30px;

    @include screen-small {
      padding: 0 15px;
    }
  }
}
