@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../base/container";

.card {
  border-radius: 0;
  border: none;
  display: flex;

  &--profileAd {
    width: 100%;
    border: 2px solid $gainsboro;
    border-radius: 8px;
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    @include screen-medium {
      gap: 20px;
      flex-direction: column;
      align-items: flex-start;
    }

    &__left {
      display: flex;
      align-items: center;
      gap: 30px;
    }

    &__images {
      display: flex;
      align-items: center;

      &__img,
      &__placeholder {
        background-color: $gainsboro;
        // border: 1px solid #ccc;
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 100%;
        border: 4px solid white;
        position: relative;
        // background: white;

        &:not(:first-child) {
          margin-left: -40px;
        }
      }

      &__img {
        transition: 0.3s;
        // border-color: $light_peach;

        // &:hover {
        //   z-index: 1;
        //   transform: scale(1.1);
        // }
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 200px;

      &__title {
        font-size: 12px;
      }

      &__text {
        font-weight: 600;
        font-size: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &__highlight {
      display: flex;
      flex-direction: column;
      gap: 8px;

      &__title {
        // margin-bottom: 15px;
        font-weight: 600;
        font-size: 14px;
        display: flex;
        align-items: center;

        svg {
          margin-right: 5px;
          color: $light_peach;
          fill: $light_peach;
        }
      }

      &__text {
        font-size: 15px;
      }
    }

    &__link {
      border: none;
      background: transparent;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.5px;
      text-decoration: underline;
      color: $dodger_blue;
    }

    &__button {
      display: flex;
      flex-direction: row;
      gap: 8px;
      align-items: center;
    }
  }

  &--order {
    width: 100%;
    border: 2px solid $gainsboro;
    border-radius: 8px;
    padding: 12px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    @include screen-medium {
      padding: 12px;
    }

    @include screen-medium {
      gap: 20px;
      flex-direction: column;
      align-items: flex-start;
    }

    &__header {
      display: flex;
      align-items: center;
      gap: 20px;

      @include screen-medium {
        width: 100%;
        justify-content: space-between;
        font-size: 14px;
      }
    }

    &__content {
      display: flex;
      align-items: center;
      gap: 20px;

      @include screen-medium {
        width: 100%;
        justify-content: space-between;
      }
    }

    &__amount {
      font-weight: 800;
      letter-spacing: 0.25px;
      color: $charcoal;
    }

    &__document-type {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      &__badge {
        display: flex;
        align-items: center;
        gap: 6px;
        padding: 4px 8px;
        border-radius: 4px;
        background-color: #e6f7ff;
        color: #0066cc;
        font-size: 12px;
        font-weight: 500;
      }

      &__badge.is-invoice {
        background-color: rgba($light_peach, 0.2);
        color: $charcoal;
      }
    }

    &__details {
    }
  }

  &--pack {
    display: flex;
    gap: 54px;
    flex-direction: row;
    border: 1px solid $platinum;
    box-sizing: border-box;
    padding: 30px;
    position: relative;
    margin-top: -1px;

    @include screen-large {
      flex-direction: column;
      padding: 20px;
      gap: 20px;
    }

    &.recommended {
      background: $ghost_white;

      &::before {
        content: "Recomendado";
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 1.3;
        text-align: center;
        letter-spacing: 0.25px;
        color: $light_peach;
        position: absolute;
        height: 30px;
        background: $charcoal;
        border-radius: 4px 4px 0px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        left: -100px;
        top: 70px;
        transform: rotate(-90deg);
        width: 171px;

        @include screen-large {
          left: 0;
          top: -30px;
          transform: unset;
          width: 100%;
        }
      }
    }

    &__price {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 0px;

      @include screen-large {
        margin-bottom: 20px;
      }

      .saving {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 1.3;
        color: $charcoal;
        background: $light_peach;
        border-radius: 4px;
        width: max-content;
        padding: 5px;
        margin-bottom: 10px;
      }

      .price {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.25px;
        color: $charcoal;
        width: max-content;
      }
    }

    &__description {
      flex: 1;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      white-space: pre-line;
      font-size: 15px;
      font-weight: 400;
      line-height: 1.7;
    }

    &__link {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;

      @include screen-large {
        margin-top: 20px;
        justify-content: flex-start;
      }
    }
  }

  &--highlight {
    display: flex !important;
    align-items: flex-start;

    @include screen-large {
      flex-direction: column;
      padding: 15px;
      border: 1px solid $gainsboro;
      border-radius: 4px;
    }

    &__icon {
      margin-right: 15px;

      @include screen-large {
        margin: 0 0 20px 0;
      }

      svg {
        width: 30px;
        fill: $light_peach;
      }
    }

    &__info {
      &__title {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.25px;
        color: $charcoal;
        margin-bottom: 10px;
      }

      &__text {
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 0.25px;
        color: $charcoal;
      }
    }
  }

  &--category {
    &__inner {
      display: flex;
      gap: 20px;
      align-items: center;
      flex-direction: row;
      text-decoration: none !important;
      // background-color: var(--category-bg-color, transparent);
      // transition: background-color 0.25s ease;

      @include screen-small {
        padding: 15px;
        border: 1px solid $gainsboro;
        border-radius: 4px;
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--category-bg-color, transparent);
      border: 1px solid $charcoal;
      box-sizing: border-box;
      box-shadow: inset 4px 0px 0px $charcoal;
      border-radius: 4px;
      height: 48px;
      width: 70px;

      svg {
        height: 20px;
        color: $charcoal;
      }

      @include screen-small {
        margin-bottom: 10px;
      }
    }

    &__info {
      &__name {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        letter-spacing: 0.25px;
        color: $charcoal;
        margin-bottom: 0;

        @include screen-large {
          text-overflow: ellipsis;
          max-width: 150px;
          overflow: hidden;
          white-space: nowrap;
        }

        &:hover {
          text-decoration: underline;
        }
      }

      &__count {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        letter-spacing: 0.25px;
        color: $charcoal;
        display: flex;
        align-items: center;
        gap: 3px;
      }
    }
  }

  &--announcement {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;

    &__featured {
      position: absolute;
      top: 15px;
      right: 15px;
      z-index: 2;
      font-size: 12px;
      padding: 3px 7px;
      background-color: var(--announcement-category-color, white);
      border-radius: 3px;
      font-weight: bold;
    }

    &__image-count {
      position: absolute;
      top: 15px;
      left: 15px;
      z-index: 2;
      display: flex;
      align-items: center;
      gap: 4px;
      background: white;
      color: #313338;
      padding: 4px 8px;
      border-radius: 4px;
      font-size: 12px;
      font-weight: 500;

      span {
        line-height: 1;
      }

      svg {
        color: #313338;
      }
    }

    &__image {
      overflow: hidden;
      position: relative;
      display: block;
      border-radius: 4px;
      border: 4px solid var(--announcement-category-color, #ccc);

      img {
        width: 100%;
        object-fit: cover;
        float: left;
        aspect-ratio: 4 / 2;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      gap: 5px;

      a {
        color: $charcoal;
      }

      &__categories {
        a {
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          letter-spacing: 0.25px;
          text-decoration-line: underline;
          color: $charcoal;
        }
      }

      &__name {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.4;
        letter-spacing: 0.25px;
        color: $charcoal;
      }

      &__price {
        font-style: normal;
        font-size: 14px;
        letter-spacing: 0.25px;
        color: $charcoal;
      }

      &__by {
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 1.3;
        letter-spacing: 0.25px;
        color: $charcoal;

        a {
          text-decoration-line: underline;
          color: $dodger_blue;
        }
      }

      &__reminder {
        color: $light_peach;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.25px;
        text-decoration: underline;
      }
    }
  }

  &--info {
    flex-direction: column;
    display: flex;
    gap: 8px;

    &__title {
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 1;
      letter-spacing: 0.25px;
      color: $charcoal;
    }

    &__description {
      display: flex;
      align-items: center;
      gap: 10px;

      &__text {
        display: block;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.25px;
        color: $charcoal;

        &--truncate {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 220px;
        }
      }

      a {
        color: inherit;
        text-decoration: underline;
        color: $dodger_blue;
      }

      button {
        appearance: none;
        padding: 0;
        margin: 0;
        border: none;
        background-color: transparent;
        width: auto;
        height: auto;
        margin-top: 4px;
      }

      svg {
        color: $dodger_blue;
      }
    }
  }

  &--howto {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      &__image {
        max-width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;

        img {
          max-width: 100%;
          width: 190px;
        }
      }

      &__content {
        text-align: center;

        &__title {
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.25px;
          color: $charcoal;
          margin: 15px 0px;
        }

        &__description {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 24px;
          letter-spacing: 0.25px;
          color: $charcoal;
          width: 100%;
          margin-bottom: 20px;
          order: 2;
          max-width: 420px;
        }

        &__button {
          a {
            display: inline-flex;
            justify-content: center;
          }
        }
      }
    }
  }

  &--shortcut {
    border: 1px solid $gainsboro;
    border-radius: 4px;
    padding: 25px;
    transition: 0.3s;
    margin-right: 0px;
    margin-bottom: 0px;
    display: block;
    text-decoration: none;

    &:hover {
      box-shadow: 0 0 30px rgba($charcoal, 0.1);
      text-decoration: none;
    }

    @include screen-large {
      margin-bottom: 20px;
    }

    &__header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 15px;

      img,
      svg {
        margin-bottom: 15px;
        width: 32px;
        height: 32px;
        color: $light_peach;
      }

      @include screen-large {
        flex-direction: row;
        align-items: center;

        img,
        svg {
          margin-right: 15px;
          margin-bottom: 0;
        }
      }
    }

    &__title {
      font-weight: bold;
      font-size: 16px;
      color: $charcoal;
      margin: 0;
    }

    &__description {
      font-size: 14px;
      line-height: 1.6;
      letter-spacing: 0.25px;
      color: $charcoal;
      margin-bottom: 15px;
    }

    &__link {
      font-weight: 600;
      font-size: 14px;
      line-height: 1;
      letter-spacing: 0.25px;
      text-decoration-line: underline;
      color: $dodger_blue;
      display: block;

      @include screen-large {
        display: none;
      }
    }
  }
}
