@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../base/container";

.create {
  &--announcement {
    min-height: calc(100vh - 180px);
    background-color: white;
    padding: 140px 20px 120px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
      width: 100%;
      margin: auto;
      max-width: 850px;
    }
  }
}
