@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../base/container";

.resume {
  &--default {
    &__container {
      @extend .container;
      margin-bottom: 90px;
      max-width: 950px;

      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    &__header {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      text-align: center;

      &__icon {
        svg {
          width: 60px;
          height: 60px;
          fill: $light_peach;
        }
      }

      &__title {
        justify-content: center;
      }

      &__description {
        max-width: 770px;
      }
    }

    &__photos {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      gap: 20px;

      @include screen-medium {
        grid-template-columns: 1fr 1fr 1fr;
      }

      @include screen-small {
        grid-template-columns: 1fr 1fr;
      }

      img {
        width: 100%;
        height: 100px;
        object-fit: cover;
        object-position: center;
        border-radius: 4px;
        border: 2px solid $light_peach;
      }
    }

    &__grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;

      @include screen-medium {
        grid-template-columns: 1fr 1fr;
      }

      @include screen-small {
        grid-template-columns: 1fr;
      }
    }

    &__box {
      border: 2px solid $gainsboro;
      margin: 0 auto;
      padding: 40px;
      width: 100%;
      border-radius: 4px;
      // margin-bottom: 40px;

      @include screen-medium {
        padding: 25px;
        margin-bottom: 15px;
      }

      &__separator {
        height: 1px;
        border-bottom: 2px solid $gainsboro;
        margin-bottom: 40px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__subtitle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;

      &__title {
        margin-bottom: 0;
        color: $charcoal;
        text-decoration: underline;
      }
    }
  }

  &--ad {
    padding-top: 0;

    &__container {
      @extend .container;
      max-width: 770px;
    }

    &__title {
      justify-content: center;
      margin-bottom: 30px;
    }

    &__grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;

      @include screen-small {
        grid-template-columns: 1fr;
      }
    }

    &__box {
      border: 1.4px solid $gainsboro;
      margin: 0 auto;
      padding: 40px;
      margin-bottom: 40px;

      @include screen-medium {
        padding: 25px;
        margin-bottom: 15px;
      }

      &__separator {
        height: 1px;
        border-bottom: 1.4px solid $gainsboro;
        margin-bottom: 40px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__subtitle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;

      &__title {
        margin-bottom: 0;
        color: $charcoal;
        text-decoration: underline;
      }

      &__link {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 12px;
        color: $dodger_blue;
        display: flex;
        align-self: center;
        text-decoration: underline;
        border: 0;
        background-color: rgba(0, 0, 0, 0);

        img {
          margin-right: 5px;
        }
      }
    }
  }
}
