@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../base/container";

.seller {
  &--default {
    &__box {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__title {
      font-size: 14px;
      font-weight: 600;
    }

    &__text {
      display: flex;
      flex-direction: row;

      a {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.25px;
        color: $charcoal;
        font-size: 16px;
        text-decoration: underline;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 220px;

        &.showcase {
          color: $dodger_blue;
          text-decoration: none;
          font-size: 14px;
        }
      }

      button {
        display: flex;
        align-items: center;
        appearance: none;
        background-color: transparent;
        border: none;
        margin-left: 10px;

        color: $dodger_blue;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0.25px;
        text-decoration-line: underline;

        img {
          margin-right: 5px;
          max-width: 12px;
        }
      }
    }
  }
}
