@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #1a1a1a;
  border-radius: 100%;
  overflow: hidden;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #1a1a1a;
  background-color: #ffd699;
  text-decoration: none;
  line-height: 1;

  &--small {
    width: 30px;
    height: 30px;
    font-size: 12px;
  }

  &--medium {
    width: 50px;
    height: 50px;
    font-size: 16px;
  }

  &--large {
    width: 100px;
    height: 100px;
    font-size: 40px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
