@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.card {
  &--info {
    flex-direction: column;
    display: flex;
    gap: 8px;

    &__title {
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 1;
      letter-spacing: 0.25px;
      color: $charcoal;
    }

    &__description {
      display: flex;
      align-items: center;
      gap: 10px;

      &__text {
        display: block;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.25px;
        color: $charcoal;

        &--truncate {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 220px;
        }
      }

      &__color {
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-right: 8px;
        border-radius: 999px;
        vertical-align: middle;
      }

      a {
        color: inherit;
        text-decoration: underline;
        color: $dodger_blue;
      }

      button {
        appearance: none;
        padding: 0;
        margin: 0;
        border: none;
        background-color: transparent;
        width: auto;
        height: auto;
        margin-top: 4px;
      }

      svg {
        color: $dodger_blue;
      }
    }
  }

  &--stat {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: $white;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);

    &__title {
      font-size: 12px;
      font-weight: 700;
      line-height: 1;
      letter-spacing: 0.05em;
      text-transform: capitalize;
      color: $davys_grey;
      margin-bottom: 12px;
    }

    &__value {
      font-size: 30px;
      font-weight: 400;
      line-height: 1.2;
      color: $jet;
      margin-bottom: 24px;
    }

    &__link {
      display: inline-flex;
      align-items: center;
      gap: 4px;
      font-size: 12px;
      color: $charcoal;
      text-decoration: underline;

      &:hover {
        color: $eerie_black;
      }

      &__icon {
        flex-shrink: 0;
      }
    }

    &__icon {
      position: absolute;
      right: 20px;
      bottom: 20px;
      width: 48px;
      height: 48px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;

      &__svg {
        flex-shrink: 0;
      }
    }
  }
}
