@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.card {
  &--info {
    flex-direction: column;
    display: flex;
    gap: 8px;

    &__title {
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 1;
      letter-spacing: 0.25px;
      color: $charcoal;
    }

    &__description {
      display: flex;
      align-items: center;
      gap: 10px;

      &__text {
        display: block;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.25px;
        color: $charcoal;

        &--truncate {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 220px;
        }
      }

      &__color {
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-right: 8px;
        border-radius: 999px;
        vertical-align: middle;
      }

      a {
        color: inherit;
        text-decoration: underline;
        color: $dodger_blue;
      }

      button {
        appearance: none;
        padding: 0;
        margin: 0;
        border: none;
        background-color: transparent;
        width: auto;
        height: auto;
        margin-top: 4px;
      }

      svg {
        color: $dodger_blue;
      }
    }
  }
}
