@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.gallery {
  // No estilos base: los estilos van por modificadores

  &--default {
    &__container {
      display: grid;
      gap: 16px;

      &--cols-1 {
        grid-template-columns: 1fr;
      }

      &--cols-2 {
        grid-template-columns: repeat(2, 1fr);
      }

      &--cols-3 {
        grid-template-columns: repeat(3, 1fr);
      }

      &--cols-4 {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    &__item {
      position: relative;
    }

    &__delete {
      position: absolute;
      top: -15px;
      right: -15px;
      z-index: 1;
      width: 30px;
      height: 30px;
      padding: 0;
      font-size: 0;
      line-height: 1;
      border-radius: 50%;
      border: 2px solid $white;
      background-color: $white;
      color: $charcoal;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: background-color 0.2s ease;

      svg {
        width: 16px;
        height: 16px;
        color: $charcoal;
        stroke: $charcoal;
      }

      &:hover {
        background-color: $light_peach;
      }

      &:focus-visible {
        outline: 2px solid $charcoal;
        outline-offset: 2px;
      }
    }

    &__image {
      width: 100%;
      aspect-ratio: 1;
      object-fit: cover;
      border-radius: 4px;
      border: 2px solid $light_peach;
      cursor: pointer;
      transition: border-color 0.2s ease;

      &:hover {
        border-color: #ffd699;
      }
    }
  }
}
