@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../base/container";

.hero {
  &--default {
    background-color: transparent;
    padding: 50px 0;

    &__container {
      @extend .container;
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    &__breadcrumbs {
      display: flex;
    }

    &__title {
      margin: 0;

      .title {
        font-size: 32px;
        font-weight: 600;
        color: #1a1a1a;
        line-height: 1.2;
        margin: 0;
      }
    }
  }
}
