@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../base/container";

.introduce {
  &--auth {
    padding: 0 60px;
    overflow: hidden;
    display: flex;
    background: $charcoal;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;

    @include screen-large {
      padding: 30px;
    }

    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        object-fit: cover;
      }
    }

    &__content {
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    &__logo {
      text-align: left;
      display: flex;

      img {
        min-width: 150px;
      }
    }

    &__title {
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 1.3;
      letter-spacing: -0.25px;
      color: $white_smoke;

      @include screen-large {
        font-size: 36px;
      }

      @include screen-large {
        font-size: 30px;
      }

      span,
      strong {
        color: $light_peach;
      }

      div {
        // display: none;

        &:empty {
          display: none;
        }
      }
    }

    &__details {
      display: flex;
      flex-direction: column;
      gap: 30px;

      // width: 65%;
      &__title {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 0.25px;
        color: $white_smoke;
        // margin-bottom: 30px;

        @include screen-large {
          font-size: 18px;
        }
      }

      &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 15px;

        li {
          font-size: 14px;
          letter-spacing: 0.25px;
          color: $white_smoke;
          display: flex;
          gap: 15px;
          align-items: center;
          margin: 0;

          img {
            width: 20px;
            // height: 21px;
          }
        }
      }
    }
  }
}
