@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../base/container";

.layout {
  &--about,
  &--account {
    background-color: white;
    overflow: hidden;

    &__container {
      @extend .container;
      display: flex;
      gap: 40px;
    }

    &__sidebar {
      width: 350px;
      padding: 50px;
      position: relative;

      @include screen-large {
        display: none;
      }

      > * {
        position: relative;
        z-index: 1;
      }

      &:before {
        content: "";
        display: block;
        width: 200%;
        height: 100%;
        background-color: $ghost_white;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 0;
      }
    }

    &__content {
      flex: 1;
      position: relative;
      z-index: 1;
    }
  }

  &--dashboard {
    display: flex;
    min-height: 100vh;
    width: 100%;

    &__menu {
      width: 350px;
      background-color: #ffffff;
      flex-shrink: 0;
    }

    &__content {
      flex: 1;
      background-color: #f5f5f5;
    }
  }
}
