@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../base/container";

.swal2-container {
  .swal2-content {
    font-size: 1em;
  }

  .swal2-confirm {
    background: $charcoal !important;
    color: $light_peach !important;
  }
}
