// abstracts/_variables.scss

// colors
$charcoal: #313338;
$cultured: #f5f5f5;
$davys_grey: #555555;
$dodger_blue: #2196f3;
$eerie_black: #333333;
$ghost_white: #f7f7f7;
$gainsboro: #eaebeb;
$independence: #4e6297;
$jet: #2d2d2e;
$light_peach: #ffd699;
$magic_mint: #c2e3d9;
$platinum: #ededed;
$red_salsa: #ff6b6b;
$silver: #c8c8c9;
$white_smoke: #f2f2f2;
